<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SophaxChat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_sophax-chat._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>SophaxChat uses the camera to take and send photos in encrypted messages.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>SophaxChat uses Face ID to unlock the app when app lock is enabled.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>SophaxChat uses the local network to discover nearby users and send encrypted messages without internet.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SophaxChat uses the microphone to record encrypted voice messages.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SophaxChat accesses your photo library to send images in encrypted messages.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
	</dict>
</dict>
</plist>
